* {
    font-family: 'Open Sans', sans-serif;
}

#caja1 {
    background: purple;
    height: 100px;
    border: solid 10px black;
    margin-left: 69px;
    margin-top: 169px;
    border-radius: 10px;
    /* PX medida absoluta */
    /* padding-left: 150px; */
    /* % medida relativa */
    /* padding-left: 50%; */
}

#texto {
    color: white;
    background: black;
    /* padding-top: 30px;
    padding-left: 50px;
    padding-right: 50px; */
    border: solid 10px red;
    font-style: italic;
    font-weight: bold;
}

.tarjeta {
    margin-right: 50px;
    display: inline-block;
    background: gray;
    height: 300px;
    width: 300px;
    margin-top: 50px;
    border-radius: 30px;
}